<p>add-ingredient works!</p>
<form (ngSubmit)="saveIngredient()" [formGroup]="ingredientForm">
    <div>

        <div>
            <label for="name">Name:</label>
            <input type="text" formControlName="name">
            <span class="invalid-feedback">
                <span *ngIf="ingredientForm.get('name').errors?.required && ingredientForm.get('name').dirty">
                    Please enter ingredient name.
                </span>
                <span *ngIf="ingredientForm.get('name').errors?.minlength && ingredientForm.get('name').dirty">
                    The name must be longer than 2 characters.
                </span>
            </span>
        </div>
        <div>
            <label for="kcal">Kcal:</label>
            <input type="number" formControlName="kcal">
            <span *ngIf="ingredientForm.get('kcal').errors?.subZero">
                Kcal can't be a negative number
            </span>
        </div>
        <div>
            <label for="protein">Protein:</label>
            <input type="number" formControlName="protein">
        </div>
        <div>
            <label for="carbs">Carbs:</label>
            <input type="number" formControlName="carbs">
        </div>

        <div><label for="fat">Fat:</label>
            <input type="number" formControlName="fat">
        </div>

        <button [disabled]="!ingredientForm.valid">Add New Ingredient</button>

    </div>
</form>